/*comment*/

body{
    /*background-color: cornsilk;*/
    background: linear-gradient(#e66465,#9198e5);
    border: purple

}

h1, h2, p{
    text-align: center;
    color: red;
    background-image: url("image/jpg/bgi.jpg");
    border-style: dashed;
    border-width: 5px;
    border-color: cornflowerblue;
    border-radius: 100px;
}

div{
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;

    outline-style: dotted;
    outline-color: violet;
    outline-width: 5px;
    /* if wanna do all in one -> outline: dotted violet 5px */
}

p.spring{
    color: green;
}


a:link,a:visited {
    color:green;
}

a:hover{
    color: greenyellow;
}
    color: 



.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0%;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0, 0%, 10%);
}

 



